/* Shared styles */

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

.logo{
  font-size: 45px;
  font-weight: 900px;
}

.color-orange{
  color: #FF7A00;
}

.btn-primary{
  background-color: #FF7A00;
  color: white;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;

}

/* Header Styles */

header{
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav{
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{

}

nav .menu{
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}

nav .menu a{
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}

#banner{
  /* border: 1px solid black; */
  margin: 47px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner .banner-content{
  max-width: 585px;
}

#banner .banner-content h2{
  font-size: 45px;
  font-weight: 600px;
  color: #474747;
  margin-bottom: 5px;
}

#banner .banner-content h1{
  font-size: 85px;
  color: #181818;
  font-weight: bold;
  margin-bottom: 20px;
}

#banner .banner-content p{
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
  line-height: 30px;
}

#banner .banner-image{
  max-width: 585px;
  vertical-align: middle;
}